<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListaCategoriasController</servlet-name>
        <servlet-class>contoller.NuevaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriasController</servlet-name>
        <servlet-class>contoller.ListarCategoriasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCategoriaController</servlet-name>
        <servlet-class>contoller.EditarCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCategoriaController</servlet-name>
        <servlet-class>contoller.EliminarCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCategoriaController</servlet-name>
        <servlet-class>contoller.AgregarCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoProductoController</servlet-name>
        <servlet-class>contoller.NuevoProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProductoController</servlet-name>
        <servlet-class>contoller.ListarProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProductoController</servlet-name>
        <servlet-class>contoller.EditarProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductoController</servlet-name>
        <servlet-class>contoller.EliminarProductoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaCategoriasController</servlet-name>
        <url-pattern>/nuevacategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriasController</servlet-name>
        <url-pattern>/listarcategorias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCategoriaController</servlet-name>
        <url-pattern>/editarcategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCategoriaController</servlet-name>
        <url-pattern>/eliminarcategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCategoriaController</servlet-name>
        <url-pattern>/agregarcategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoProductoController</servlet-name>
        <url-pattern>/nuevoproducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProductoController</servlet-name>
        <url-pattern>/listarproducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProductoController</servlet-name>
        <url-pattern>/editarproducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductoController</servlet-name>
        <url-pattern>/eliminarproducto.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
